---
layout: base
---
{# https://github.com/11ty/eleventy-img/issues/46#issuecomment-766054646 #}
{%- set css -%} 
.bg-hero { 
    height: {{ height | default("65vh", true) }};
    background-size: cover; 
	background-repeat: no-repeat;
	background-image: url('{{hero_bg}}');
} 
{# {% cssBackground hero_bg, ".bg-hero", [576, 768, 992, 1200, 1400] %} #}
{%- endset -%}
<style>
	{{ css | safe | trim }}
</style>

{% include 'navigation.njk' %}

<section id="hero" class="bg-hero d-flex align-items-center">

	<div
		class="align-self-center w-100 p-5 text-center shadow-1-strong rounded mb-5 text-white"
	>
		<h1 class="mb-3">{{ title }}</h1>
		<p>{{ description }}</p>
	</div>
	
</section>

<main>
	{{ content | safe }}
</main>
